.container {
    background: var(--cinza-fundo);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 0;
    border-bottom: 7px solid var(--azul-principal);
    position: relative;
}

.cabecalho__menu__hamburguer {
    display: inline-block;
    background-image: url(../imgs/Menu\ Hamburguer.svg);
    width: 46px;
    height: 46px;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 1em;
}

.container__busca{
    margin-right: 1em;
}

.container__botao {
    display: none;
}

.menu__lista{
    display: none;
    position: absolute;
    top: 100%;
    background-color: var(--branco-fundo);
    width: 60%;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.container__botao:checked ~ .menu__lista {
    display: block;
}

.menu__item {
    padding: 1em 0 1em 1.5em;
}

.menu__item:hover {
    background: var(--azul-principal);
}

.menu__link-inicio {
    text-decoration: none;
    color: var(--cinza-fundo);
    font-weight: 700;
}

.menu__link {
    color: var(--cinza-fundo);
    text-decoration: none;
    text-transform: uppercase;
}