@import url(./reset.css);
@import url(./header.css);
@import url(./acesso.css);
@import url(./rodape.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');


:root {
    --fonte-principal: 'Montserrat', sans-serif;
    --cinza-fundo: #282828;
    --azul-principal: #25A8F1;
    --branco-fundo: #ffffff;
    --cinza-barra: #D9D9D9;
    --cinza-rodape: #BCBCBC;
    --hover-botao: #0088D3;
}

body {
    font-family: var(--fonte-principal);
    font-weight: 600;
    color: var(--cinza-fundo);
} 